
$primary: #1F7A75
$primary-light: #EAF7F5
$primary-dark: #176B68

$secondary: #E86443
$secondary-light: #e8644338
$secondary-dark: #C94B2F
$accent: #ec4899

$positive: #16a34a
$positive-light: #22c55e2d
$negative: #dc2626
$negative-light: #ef444434
$red-3: #fecaca
$red-4: #dc2626
$info: #0ea5e9
$warning: #facc15
$warning-light: #facc1511

$dark: #0f172a

$default: #f8fafc

$grey-1: #f9fafb
$grey-2: #f3f4f6
$grey-3: #e5e7eb
$grey-4: #d1d5db
$grey-5: #9ca3af
$grey-6: #6b7280
$grey-7: #374151
$grey-8: #1f2937
$grey-9: #111827

$button-border-radius: 8px
$generic-border-radius: 8px
$separator-color: rgba(0, 0, 0, 0.075)

$dimmed-background: #6513d028 !default
$light-dimmed-background: rgba(255, 255, 255, .6) !default

$text-weights: (thin: 100, light: 300, regular: 400, medium: 500, bold: 700, bolder: 900) !default

$typography-font-family: "Poppins", '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif !default
$subtitle2: (size: .83rem, line-height: 1.375rem, letter-spacing: .00714em, weight: 500) !default
$caption: (size: .7rem, line-height: 1rem, letter-spacing: .03333em, weight: 400) !default


$breakpoint-xs: 599px !default
$breakpoint-sm: 1023px !default
$breakpoint-md: 1439px !default
$breakpoint-lg: 1919px !default
